@import "tailwindcss";


body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

.safe-area-top {
  padding-top: var(--tg-viewport-safe-area-inset-top);
  background-color: blue;
}

.top-bar-height{
  height: var(--tg-viewport-content-safe-area-inset-top);
  background-color: red;
}
